</body>
<script>
  // vars
    const pages = document.querySelectorAll(".page-slider");
    const translateAmount = 100; 
    let translate = 0;
    const cards = document.querySelectorAll(".cards");
    
// ik vermoed dat dit een afgekorte functie is maar ik begrijp niet wat de tekens betekenen
// slide = (direction) => {
// direction === "next" ? translate -= translateAmount : translate += translateAmount;
// pages.forEach(
//         pages => (pages.style.transform = `translateY(${translate}%)`)
//       );
//     }

// functions

cards.forEach((card)=>{
  card.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
  });
});
</script>

</html>