</body>
<script>
  // vars
    const pages = document.querySelectorAll(".page-slider");
    const translateAmount = 100; 
    let translate = 0;
    const cards = document.querySelectorAll(".cards-single");
    
// ik vermoed dat dit een afgekorte functie is maar ik begrijp niet wat de tekens betekenen
slide = (direction) => {
direction === "next" ? translate -= translateAmount : translate += translateAmount;
pages.forEach(
        pages => (pages.style.transform = `translateY(${translate}%)`)
      );
    }

// functions 

function flipCard() {
  this.classList.toggle("flip");
}
cards.forEach((card) => card.addEventListener("click", flipCard));
</script>


</html>