*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background-color-green: rgb(75, 152, 49) ;
    --background-color-blue: rgb(75, 80, 235);
}

/* HOMEPAGE HEADER */

.head-title{
    font-size: 8rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 6rem;
    transform: translate(-50%, -15%);
    font-family: Arial, Helvetica, sans-serif;
}

.homepage-button-left{
    padding: 1rem;
    font-size: 35px;
    background:var(--background-color-green);
}

.homepage-button-right{
    padding: 1rem;
    font-size: 35px;
    background-color: var(--background-color-blue);
}

.homepage-button-position{

    display: flex;
    justify-content: space-around;
    top: 28rem;
    position: relative;

}
a{
    text-decoration: none;
    color: black;
}


.background-color{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(
      to right,
      rgb(52, 56, 162) 0%,
      rgb(52, 56, 162) 50%,
      rgb(75, 152, 49) 50%,
      rgb(75, 152, 49) 100%
    );
}
.homepage-instruction{
    position: relative;
    text-align: center;
    top: 35rem;
    font-size: 40px;
}
.arrow-down{
    width: 100px;
    height: 100px;
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-transform: rotate(45deg);
  background-color: transparent;
  cursor: pointer;
  top:40rem;
        
}
/* END homepage header */
/* START INSTRUCTION PAGE */
.instruction-page{
    top: 50rem;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: var(--background-color-green);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 35px;
}


/* END INSTRUCTION PAGE */
/* plant container */
.plant-card-title{
    top: 65rem;
    position: relative;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.plant-card-section {
   height: 200vh;
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    top: 80rem;
    position: relative;
    justify-content: space-around;
    gap: 50px;
    background-color: var(--background-color-green);

  }
  .plant-box {
    top: 5%;
    position: relative;
    height: 35rem;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
  }
  .plant-card {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: 1s ease;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4em;
    position: absolute;
    
    backface-visibility: hidden;
   
  }
  .front {
    background: linear-gradient(to right, #b87613, #794707);
  }
  
  .content {
    transform: translateZ(60px);
    font-size: large;
  }

  .back {
    background-color: var(--background-color-blue);
    transform: rotateY(180deg);
  }
  .plant-box:hover .plant-card {
    transform: rotateY(180deg);
  }
.dot{
    background-color: var(--background-color-green);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    top: .2rem;
}


ul{
    list-style-type: none;
    padding: 1rem;
   
}
li > span{
    font-weight: bold;
}
li{
    padding-bottom: 1rem;
}
/* plant container END */

